@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200;300;500;700&family=Slabo+13px&display=swap");
@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

:root {
  --theme-color: #fff;
  --font: "Poppins", sans-serif;
  --light-font: 300;
  --light-text: rgba(0, 0, 0, 0.61);
  --light-grey: #e1e1e1;
  --medium-grey: rgb(175, 175, 175);
  --dark-grey: rgb(37, 37, 37);
  --links: rgb(230, 130, 255);
  --light-theme-color: rgb(65, 116, 255);
  --theme-yellow: #eebb4e;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font);
}

*::-moz-selection {
  background: var(--theme-yellow);
  color: #242424;
}

*::selection {
  background: var(--theme-yellow);
  color: #242424;
}

.column-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h__auto {
  height: auto;
}

.box {
  max-width: 80%;
}

.full {
  max-width: 100% !important;
}

.m__auto {
  margin: auto;
}

.width-100 {
  width: 100%;
}

.light-title {
  font-weight: 100;
  color: #eebb4e;
  margin: 1em 0;
  font-family: "Oswald";
}

h3 {
  color: white;
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.253);
}

.links a {
  margin-right: 0.5em;
  text-decoration: none;
  font-size: 0.8em;
  color: var(--theme-yellow);
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

.links span {
  margin-right: 0.5em;
  text-decoration: none;
  font-size: 0.8em;
  color: var(--theme-yellow);
  font-weight: bold;
  cursor: pointer;
}

.links span:hover {
  text-decoration: underline;
}

.socials {
  background: var(--theme-yellow);
}

.socials a {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  text-decoration: none;
  outline: none;
  color: var(--dark-grey);
}

body {
  background: var(--theme-color);
}

main {
  background: #0f1122;
}

#my__info {
  line-height: 1.6;
  height: 85vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.65) url("https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2062&q=80");
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

#my__info h1 {
  font-weight: lighter;
  font-size: 4.5em;
  color: white;
  line-height: 1;
  font-family: "Anton";
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  #my__info h1 {
    font-size: 3em;
  }
}

@media (max-width: 801px) {
  #my__info h1 {
    font-size: 3em;
  }
}

#my__info p {
  color: rgba(255, 255, 255, 0.596);
  font-weight: 300;
  width: 35%;
  text-align: center;
  font-style: normal;
  font-family: "Slabo 13px";
  margin-top: 1em;
}

@media (max-width: 600px) {
  #my__info p {
    width: 80%;
    font-size: 0.8em;
  }
}

@media (max-width: 801px) {
  #my__info p {
    width: 70%;
    font-size: 0.8em;
  }
}

#my__info a {
  text-decoration: none;
  font-size: 0.8em;
  margin-top: 10px;
}

#my__info a.cv {
  padding: 10px 15px;
  background-color: transparent;
  color: var(--theme-yellow);
  border: 1px solid var(--theme-yellow);
  font-weight: 300;
  -webkit-transition: color 0.25s, background 0.25s, font-weight 0.25s;
  transition: color 0.25s, background 0.25s, font-weight 0.25s;
}

#my__info a.cv:hover {
  color: black;
  font-weight: bold;
  background: var(--theme-yellow);
}

#personal__projects .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

@media (max-width: 600px) {
  #personal__projects .projects {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 801px) {
  #personal__projects .projects {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 1281px) {
  #personal__projects .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#personal__projects .projects .project__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#personal__projects .projects .project__item .project__image {
  height: 250px;
  width: 100%;
  background: #282d58;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  #personal__projects .projects .project__item .project__image {
    height: 170px !important;
  }
}

@media (max-width: 801px) {
  #personal__projects .projects .project__item .project__image {
    height: 250px;
  }
}

@media (max-width: 1025px) {
  #personal__projects .projects .project__item .project__image {
    height: 250px;
  }
}

#personal__projects .projects .project__item .project__image img {
  height: 100%;
  width: 100%;
  background: #282d58;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

#personal__projects .projects .project__item .project__description {
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 0.5em 0.5em 0;
}

#personal__projects .projects .project__item .project__description p {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.747);
}

#personal__projects .projects .project__item .project__description ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

#personal__projects .projects .project__item .project__description ul li {
  margin: 5px 5px 5px 0;
  padding: 5px 7px;
  font-size: 0.7em;
  background: var(--theme-yellow);
  border-radius: 5px;
  font-weight: bold;
  color: #231c35;
}

#tech__stack .tech__stack__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

@media (max-width: 600px) {
  #tech__stack .tech__stack__items {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 801px) {
  #tech__stack .tech__stack__items {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}

#tech__stack .tech__stack__items .tech__stack__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
}

#tech__stack .tech__stack__items .tech__stack__item img {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  background: #282d58;
}

#tech__stack .tech__stack__items .tech__stack__item ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

#tech__stack .tech__stack__items .tech__stack__item ul li {
  margin-left: 0px !important;
  margin: 5px;
  padding: 5px 10px;
  font-size: 0.7em;
  border: 1px solid var(--theme-yellow);
  border-radius: 5px;
  color: var(--theme-yellow);
  font-weight: bold;
}

#hosted__events .hosted__events__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

@media (max-width: 600px) {
  #hosted__events .hosted__events__items {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 801px) {
  #hosted__events .hosted__events__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1025px) {
  #hosted__events .hosted__events__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#hosted__events .hosted__events__items .hosted__event__item .hosted_event_image {
  height: 150px;
  width: 100%;
  background: #282d58;
}

#hosted__events .hosted__events__items .hosted__event__item .hosted_event_image img {
  height: 100%;
  width: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

#hosted__events .hosted__events__items .hosted__event__item h3 {
  padding: 5px 0;
}

#hosted__events .hosted__events__items .hosted__event__item p {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.534);
}

#project__info {
  height: 70vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  #project__info {
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 1025px) {
  #project__info {
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

#project__info .project__demo {
  height: auto;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background: #282d58;
}

#project__info .project__demo img {
  height: 100%;
  width: auto;
}

@media (max-width: 600px) {
  #project__info .project__demo {
    height: 100%;
    background: #282d58;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (max-width: 1025px) {
  #project__info .project__demo {
    width: 100%;
    background: #282d58;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

#project__info .project__info {
  height: 100%;
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 2em;
  background: #181c3b;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  #project__info .project__info {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (max-width: 1025px) {
  #project__info .project__info {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

#project__info .project__info .info p {
  color: rgba(255, 255, 255, 0.521);
}

@media (max-width: 600px) {
  #project__info .project__info .info p {
    font-size: 0.6em !important;
  }
}

@media (max-width: 1025px) {
  #project__info .project__info .info p {
    font-size: 0.8em;
  }
}

#project__info .project__info .info .btn-group {
  margin: 10px 0;
}

#project__info .project__info .info .btn-group a {
  margin: 0 5px 0 0;
  text-decoration: none;
  padding: 5px 10px;
  color: var(--theme-yellow);
  background: transparent;
  border: 1px solid var(--theme-yellow);
  border-radius: 5px;
  font-size: 0.8em;
  -webkit-transition: color 0.25s, border 0.25s;
  transition: color 0.25s, border 0.25s;
}

#project__info .project__info .info .btn-group a:hover {
  border: 1px solid #9ee0ff;
  color: #9ee0ff;
}

#project__info .project__info .info ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0.5em 0;
}

#project__info .project__info .info ul li {
  margin: 5px 5px 5px 0;
  padding: 5px 7px;
  font-size: 0.7em;
  background: var(--theme-yellow);
  border-radius: 5px;
  font-weight: bold;
  color: #231c35;
}

@media (max-width: 600px) {
  #project__info .project__info .info ul li {
    font-size: 0.6em !important;
  }
}

#project__info .project__info .buttons {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#project__info .project__info .buttons img {
  height: 50px;
  cursor: pointer;
}

@media (max-width: 600px) {
  #project__info .project__info .buttons img {
    height: 25px;
  }
}

@media (max-width: 1025px) {
  #project__info .project__info .buttons img {
    height: 25px;
  }
}

#project__info .project__info .buttons .control img {
  margin: 0 5px;
}

#joined__organizations {
  padding-bottom: 1em;
}

#joined__organizations .organizations__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

@media (max-width: 801px) {
  #joined__organizations .organizations__list {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}

#joined__organizations .organizations__list .organization__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
}

#joined__organizations .organizations__list .organization__item .organization__image {
  height: 200px;
  width: 100%;
}

#joined__organizations .organizations__list .organization__item .organization__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

#joined__organizations .organizations__list .organization__item span {
  color: #e1e1e1;
  font-size: 0.8em;
}

#contact__me {
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-top: 2em;
}

#contact__me .contact__bg {
  background: url("https://images.unsplash.com/34/BA1yLjNnQCI1yisIZGEi_2013-07-16_1922_IMG_9873.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80");
  background-size: cover;
  background-position: bottom;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact__me .contact__bg h1 {
  font-family: "Anton";
  color: rgba(255, 255, 255, 0.493);
  font-size: 4em;
}

#contact__me .contact__form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background: #2b1c1b;
}

.bottom {
  position: relative;
  bottom: 0;
}

footer {
  height: 10vh;
  background: #282541;
  color: rgba(255, 255, 255, 0.527);
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.is-fullscreen {
  bottom: 0;
}

.carousel-cell-image {
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */