@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

@font-face {
    font-family: Gilroy;
    src: url("../fonts/gilroy-extrabold.otf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Gilroy;
    scroll-behavior: smooth;
}

body {
    background: #282828;
}

.menu_items_mobile {
    position: fixed;
    background: white;
    display: flex;
    flex-direction: column;
    opacity: 0.95;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #111111;
    z-index: 999;

    &.open {
        transition: 0.25s ease-in;
        transform: translateY(0%);
    }

    &.closed {
        transition: 0.25s ease-out;
        transform: translateY(-100%);
    }

    a {
        text-decoration: none;
        color: white;
        padding: 1em 0;

        transition: font-size 0.25s;
        text-transform: uppercase;

        &.active {
            font-weight: 900;
            font-size: 2em;
        }
    }

    @media screen and (min-width: 1024px) {
        display: none;
    }
}

nav {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background: #292929;
    position: fixed;
    z-index: 999;

    img {
        width: 35px;
        height: 35px;

        @media screen and (min-width: 1024px) {
            width: 50px;
            height: 50px;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 50px;
            height: 50px;
        }
    }

    i {
        cursor: pointer;
    }

    h1 {
        color: white;
        font-size: 0.8em;

        @media screen and (min-width: 1024px) {
            display: none;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            display: none;
        }
    }

    .menu_items {
        display: none;

        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            a {
                color: white;
                text-decoration: none;
                padding: 0 1em;
                font-size: 0.8em;
                font-weight: bold;
                transition: background 0.25s;

                &.contact {
                    border: 1px solid white;
                    padding: 0.5em 1em;

                    &:hover {
                        background: white;
                        color: black;
                    }
                }
            }

            &.active {
                font-weight: bold;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    i {
        color: white;
        font-size: 1rem;

        @media screen and (min-width: 1024px) {
            display: none;
            font-size: 0em;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 1.5em;
        }
    }
}

.about_me {
    padding-top: 1em;
    width: 100%;
    background: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5em;
    height: 70vh;

    @media screen and (min-width: 1024px) {
        align-items: center;
        justify-content: center;
        height: 100vh;
        // grid-template-columns: 1fr 1fr;

        // padding-top: 0em;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        height: 80vh;
    }

    .main_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        @media screen and (min-width: 1024px) {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-content: center;
        }

        .my_info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media screen and (min-width: 1024px) {
                // padding-left: 3em;
            }

            h1 {
                font-weight: 800;
                text-align: center;
                color: white;
                padding-bottom: 10px;

                @media screen and (min-width: 1024px) {
                    font-size: 2.5em;
                    padding-bottom: 0px;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 2em;
                    padding-bottom: 0px;
                }
            }

            p {
                color: #cdcdcd;
                font-size: 10px;
                max-width: 60%;
                text-align: center;
                line-height: 1.6;

                @media screen and (min-width: 1024px) {
                    font-size: 0.8em;
                    max-width: 40%;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 0.65em;
                    max-width: 50%;
                }

                #csb {
                    color: #c1ffc4;
                    font-weight: bold;
                }

                #flutter {
                    color: #73ddff;
                    font-weight: bold;
                }

                #aim {
                    color: #fff7b1;
                    font-weight: bold;
                }

                #dsc {
                    color: #92ebff;
                    font-weight: bold;
                }
            }
        }

        .divider {
            display: none;
            justify-content: center;
            align-items: center;
            padding: 1em 0;

            @media screen and (min-width: 1024px) {
                display: flex;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                display: flex;
            }
            hr {
                width: 4em;
                margin: 0 1em;
                color: white;
                border: solid 0.5px white;

                @media screen and (min-width: 1024px) {
                    width: 100px;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    width: 70px;
                }
            }
            img {
                height: 25px;
                @media screen and (min-width: 1024px) {
                    height: 40px;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    height: 30px;
                }
            }
        }

        .socials {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            padding-top: 1em;

            @media screen and (min-width: 1024px) {
                justify-content: center;
                width: 100%;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                align-items: center;
                justify-content: center;
                width: 70%;
            }

            .circle {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background-color: white;
                -webkit-box-shadow: 2px 2px 0px 0px #7a7a7a;
                -moz-box-shadow: 2px 2px 0px 0px #7a7a7a;
                box-shadow: 2px 2px 0px 0px #7a7a7a;
                display: flex;
                text-decoration: none;
                align-items: center;
                justify-content: center;
                margin: 0 0.5em;

                @media screen and (min-width: 1024px) {
                    height: 45px;
                    width: 45px;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    height: 40px;
                    width: 40px;
                }

                i {
                    color: black;
                    font-size: 0.6em;

                    @media screen and (min-width: 1024px) {
                        font-size: 0.8em;
                    }

                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                        font-size: 0.7em;
                    }
                }
            }
        }
    }

    .scroll_down {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em 0;

        @media screen and (min-width: 1024px) {
            display: none;
        }

        p {
            color: #7a7a7a;
            font-weight: bold;
            font-size: 0.7em;
            padding-bottom: 10px;
        }

        i {
            font-size: 0.8em;
            color: #7a7a7a;
        }
    }
}

.techstack {
    width: 100%;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;

    @media screen and (min-width: 1024px) {
        padding: 5em 0;
    }

    .techstack_title {
        padding: 4em 0;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media screen and (min-width: 1024px) {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1 {
            text-align: center;
            color: white;

            @media screen and (min-width: 1024px) {
                font-size: 2em;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 1.5em;
            }
        }

        p {
            color: white;
            margin-top: 0.5em;
            font-size: 0.6em;
            max-width: 50%;
            text-align: center;

            @media screen and (min-width: 1024px) {
                font-size: 1em;
                max-width: 80%;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 0.8em;
                max-width: 70%;
            }
        }
    }

    .techstack_list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 90%;
        width: 100%;
        padding: 1em 0;

        @media screen and (min-width: 1024px) {
            grid-column: 2/2;
            grid-row: 1/2;
            max-width: 60%;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            max-width: 80%;
        }

        .techstack_box {
            background: #292929;
            display: flex;
            flex-direction: column;
            border-radius: 2px;
            align-items: center;
            justify-content: center;
            padding: 3em;
            margin: 5px;
            height: 50px;
            width: 50px;
            -webkit-box-shadow: 0px 2.5px 0px 0px #7a7a7a;
            -moz-box-shadow: 0px 2.5px 0px 0px #7a7a7a;
            box-shadow: 0px 2.5px 0px 0px #7a7a7a;
            transition: 0.25s;

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                height: 150px;
                width: 150px;
            }

            @media screen and (min-width: 1024px) {
                height: 170px;
                width: 170px;

                &:hover {
                    &.orange {
                        -webkit-box-shadow: 0px 5px 0px 0px #ffd3a9;
                        -moz-box-shadow: 0px 5px 0px 0px #ffd3a9;
                        box-shadow: 0px 5px 0px 0px #ffd3a9;
                    }

                    &.red {
                        -webkit-box-shadow: 0px 5px 0px 0px #ffa9a9;
                        -moz-box-shadow: 0px 5px 0px 0px #ffa9a9;
                        box-shadow: 0px 5px 0px 0px #ffa9a9;
                    }

                    &.green {
                        -webkit-box-shadow: 0px 5px 0px 0px #cbffa9;
                        -moz-box-shadow: 0px 5px 0px 0px #cbffa9;
                        box-shadow: 0px 5px 0px 0px #cbffa9;
                    }

                    &.blue {
                        -webkit-box-shadow: 0px 5px 0px 0px #a9e4ff;
                        -moz-box-shadow: 0px 5px 0px 0px #a9e4ff;
                        box-shadow: 0px 5px 0px 0px #a9e4ff;
                    }

                    &.white {
                        -webkit-box-shadow: 0px 5px 0px 0px #ffffff;
                        -moz-box-shadow: 0px 5px 0px 0px #ffffff;
                        box-shadow: 0px 5px 0px 0px #ffffff;
                    }

                    &.purple {
                        -webkit-box-shadow: 0px 5px 0px 0px #eba9ff;
                        -moz-box-shadow: 0px 5px 0px 0px #eba9ff;
                        box-shadow: 0px 5px 0px 0px #eba9ff;
                    }
                }
            }

            i {
                color: white;
                padding-bottom: 5px;
                font-size: 1.4em;

                @media screen and (min-width: 1024px) {
                    font-size: 1.5em;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 1.5em;
                }
            }

            img {
                height: 25px;

                @media screen and (min-width: 1024px) {
                    height: 50px;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    height: 50px;
                }
            }

            p {
                font-weight: bold;
                color: white;
                font-size: 0.7em;
                padding-top: 0.4em;
                text-align: center;

                @media screen and (min-width: 1024px) {
                    font-size: 1.2em;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 0.8em;
                }
            }
        }
    }
}

.projects {
    background: #111111;

    @media screen and (min-width: 1024px) {
        width: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
    }

    .projects_title {
        padding: 2em 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 1024px) {
            padding: 5em 0;
        }

        h1 {
            text-align: center;
            color: white;
            font-size: 1em;
            max-width: 50%;

            @media screen and (min-width: 1024px) {
                font-size: 1.7em;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 1.5em;
                padding: 2em 0;
            }
        }
    }

    .projects_list {
        height: 70vh;
        background: #111111;
        width: 100%;

        @media screen and (min-width: 1024px) {
            margin: auto;
            width: 100%;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            margin: auto;
            width: 100%;
        }

        .project_item {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            @media screen and (min-width: 1024px) {
                width: 30%;
                margin: 0 1em;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                width: 60%;
                margin: 0 1em;
            }

            .tech_used {
                padding: 1em 0;

                img {
                    height: 50px;
                    width: auto;

                    @media screen and (min-width: 1024px) {
                        height: 70px;
                    }

                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                        height: 50px;
                    }
                }
            }

            img {
                height: 50%;
                width: auto;

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    height: 60%;
                }
            }

            .project_card {
                background: #383838;
                padding: 1em;
                width: 100%;

                @media screen and (min-width: 1024px) {
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                }

                h1 {
                    font-size: 1em;
                    color: white;
                    font-weight: bold;
                    padding-bottom: 5px;

                    @media screen and (min-width: 1024px) {
                        font-size: 1.5em;
                    }

                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                        font-size: 1.3em;
                    }
                }

                p {
                    font-size: 0.6em;
                    color: white;
                    padding-bottom: 1em;

                    @media screen and (min-width: 1024px) {
                        font-size: 0.8em;
                    }

                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                        font-size: 0.7em;
                    }
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    font-size: 0.8em;
                    width: 100%;
                    font-weight: bold;
                    padding: 0.5em 0;
                    text-align: center;
                    color: black;
                }
            }

            &.whatscookn {
                background: #ffd98d;

                a {
                    color: #ffd98d;
                }
            }

            &.bayanihanph {
                background: #bfa1ff;

                a {
                    color: #bfa1ff;
                }
            }

            &.tmdb {
                background: #7a7a7a;
                a {
                    color: #7a7a7a;
                }
            }

            &.covidtracker {
                background: #c3daff;

                a {
                    color: #c3daff;
                }
            }

            &.needl {
                background: #c9d1ff;

                a {
                    color: #c9d1ff;
                }
            }

            &.uichallenge {
                background: #83d8ff;

                a {
                    color: #83d8ff;
                }
            }
        }
    }
}

.showcase {
    background: #111111;
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;

    @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
    }

    .showcase_left_grid {
        grid-row: 2/2;
        height: 50vh;
        width: 100%;
        padding: 1em 0;

        &.demo {
            padding: 0;
            overflow-y: hidden;
        }

        &.covidtracker {
            background: #6e89ff;
        }

        &.bayanihanph {
            background: #e5b8ff;
        }

        &.tmdb {
            background: #7a7a7a;
        }

        &.whatscookn {
            background: #fff7b1;
        }

        .flickity-page-dots {
            position: relative;
            bottom: 1em;

            .dot {
                color: black;
            }
        }

        @media screen and (min-width: 1024px) {
            grid-column: 1/2;
            grid-row: 1/2;
            height: 100vh;
        }

        img {
            height: 100%;
            width: auto;

            [src] {
                height: 50%;
            }

            @media screen and (min-width: 1024px) {
                height: 100%;
                width: auto;
            }
        }
    }

    .showcase_right_grid {
        padding: 2em;
        height: auto;

        grid-row: 1/2;
        max-width: 95%;
        margin: auto;

        @media screen and (min-width: 1024px) {
            grid-column: 2/2;
            grid-row: 1/2;
            height: 100vh;
            overflow-y: scroll;
        }

        .showcase_title {
            font-weight: bold;
            color: white;
            font-size: 2em;
            padding-bottom: 0.5em;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            h1 {
                font-size: 0.7em;
                padding-left: 0.5em;
                font-weight: bold;
            }

            a {
                text-decoration: none;
                font-size: 0.7em;
                cursor: pointer;

                &.covidtracker {
                    color: #6e89ff;
                }

                &.bayanihanph {
                    color: #e5b8ff;
                }

                &.tmdb {
                    color: #7a7a7a;
                }

                &.whatscookn {
                    color: #fff7b1;
                }
            }

            @media screen and (min-width: 1024px) {
                font-size: 2.5em;
            }
        }

        .showcase_details {
            color: white;
            font-size: 0.7em;

            @media screen and (min-width: 1024px) {
                font-size: 1em;
            }

            p {
                padding-bottom: 1em;
                line-height: 1.6;
            }

            .links {
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 3em;
                }
            }

            span {
                font-weight: bold;

                &.covidtracker {
                    color: #a1b2ff;
                }

                &.bayanihanph {
                    color: #e5b8ff;
                }

                &.tmdb {
                    color: #7a7a7a;
                }

                &.whatscookn {
                    color: #fff7b1;
                }

                &.flutter {
                    color: #92ebff;
                }

                &.firebase {
                    color: #ffd98d;
                }

                &.nodejs {
                    color: #c1ffc4;
                }

                &.expressjs {
                    color: #ffd99b;
                }

                &.heroku {
                    color: #d29bff;
                }
            }

            button {
                padding: 1em 1.5em;
                background: transparent;
                font-weight: bold;
                font-size: 0.8em;
                margin: 1em 0;
                cursor: pointer;
                outline: none;

                &.closed {
                    background: transparent;
                }

                &.open {
                    color: black;
                }

                &.bayanihanph {
                    color: #e5b8ff;
                    border: 1px solid #e5b8ff;
                    transition: background 0.25s;

                    &:hover {
                        background-color: #eba9ff;
                        color: black;
                    }
                }

                &.tmdb {
                    color: white;
                    border: 1px solid white;
                    transition: background 0.25s;

                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }

                &.whatscookn {
                    color: #fff7b1;
                    border: 1px solid #fff7b1;
                    transition: background 0.25s;

                    &:hover {
                        background-color: #fff7b1;
                        color: black;
                    }
                }

                &.covidtracker {
                    color: #a1b2ff;
                    border: 1px solid #a1b2ff;
                    transition: background 0.25s;

                    &:hover {
                        background-color: #a1b2ff;
                        color: black;
                    }
                }
            }
        }
    }
}

.project_body {
    height: auto;
    background: #111111;

    @media screen and (min-width: 1024px) {
        padding: 4em 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 2em 0;
    }

    .head_project {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3em 0;

        h1 {
            color: white;
            text-align: center;

            @media screen and (min-width: 1024px) {
                font-size: 2em;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 2em;
            }
        }

        a {
            color: white;
            margin-top: 1em;
            font-weight: 400;
            font-size: 0.8em;
            text-decoration: none;
            transition: 0.25s;

            &:hover {
                color: #afc8ff;
            }

            @media screen and (min-width: 1024px) {
                font-size: 1em;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 0.9em;
            }
        }
    }

    .list_projects {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        margin: auto;
        padding: 3em 0;

        @media screen and (min-width: 1024px) {
            max-width: 90%;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            max-width: 90%;
        }

        .project_object {
            margin: 0.5em;

            .project_image {
                height: 150px;
                width: 150px;
                margin-bottom: 0.5em;
                display: flex;
                justify-content: center;
                transition: 0.25s;

                @media screen and (min-width: 1024px) {
                    height: 300px;
                    width: 300px;

                    &:hover {
                        transition: 0.25s;
                        padding-top: 1em;
                    }
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    height: 250px;
                    width: 250px;

                    &:hover {
                        transition: 0.25s;
                        padding-top: 2em;
                    }
                }

                img {
                    height: 100%;
                }

                &.tmdb {
                    background: #7a7a7a;
                }

                &.whatscookn {
                    background: #f3edb9;
                }

                &.bayanihanph {
                    background: #bfa1ff;
                }

                &.covidtracker {
                    background: #a1b2ff;
                }

                &.needl {
                    background: #ff9797;
                }

                &.traveldesign {
                    background: #fba8ff;
                }

                &.furnituredesign {
                    background: #888aff;
                }
            }

            .project_label {
                font-weight: 400;
                color: white;
                text-align: center;
                font-size: 0.7em;
                font-weight: bold;

                @media screen and (min-width: 1024px) {
                    font-size: 1em;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 1em;
                }
            }
        }
    }
}

.my_projects {
    background: #1d1d1d;
    color: white;
    height: 100vh;

    .back_btn {
        position: fixed;
        top: 1em;
        left: 1em;
    }
}

.activities {
    height: auto;
    background: #111111;
    padding: 1em 0;

    .activities_list {
        max-width: 95%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 2em;

        @media screen and (min-width: 1024px) {
            max-width: 70%;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            max-width: 95%;
        }

        .activity {
            background: #292929;
            margin: 0.5em;
            height: 150px;
            width: 150px;
            padding: 0 1em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            -webkit-box-shadow: 2px 2px 0px 0px #cbffa9;
            -moz-box-shadow: 2px 2px 0px 0px #cbffa9;
            box-shadow: 2px 2px 0px 0px #cbffa9;

            @media screen and (min-width: 1024px) {
                height: 250px;
                width: 250px;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                height: 250px;
                width: 250px;
            }

            h1 {
                font-size: 0.6em;
                color: white;
                padding: 1em 0;

                @media screen and (min-width: 1024px) {
                    font-size: 1em;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 1.2em;
                }
            }

            p {
                line-height: 1.6;
                color: white;
                font-size: 0.5em;
                text-align: left;

                @media screen and (min-width: 1024px) {
                    font-size: 0.75em;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 0.65em;
                }
            }

            a {
                font-size: 0.4em;
                color: #cbffa9;
                text-decoration: none;
                outline: none;
                font-weight: bold;
                border: 1px solid #cbffa9;
                margin-top: 1em;
                padding: 0.1em 0.7em;

                @media screen and (min-width: 1024px) {
                    font-size: 0.75em;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 0.65em;
                }
            }
        }
    }
}

.organizations {
    height: auto;
    background: #111111;

    .organizations_list {
        padding: 5em 0;

        .organization {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img {
                padding: 1em;
                height: 100px;
                width: auto;

                @media screen and (min-width: 1024px) {
                    height: 150px;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    height: 200px;
                }
            }
        }
    }
}

.certificates {
    height: auto;
    background: #111111;

    .certificates_list {
    }
}

footer {
    padding: 2em 0;
    background: #282828;

    p {
        text-align: center;
        font-size: 0.7em;
        font-weight: bold;
        color: white;
    }
}

.fa_icon {
    font-size: 1.5em;

    @media screen and (min-width: 1024px) {
        font-size: 3em;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 3em;
    }
}

.link {
    outline: none;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
    justify-content: center;

    h1 {
        color: white;
        text-align: center;

        @media screen and (min-width: 1024px) {
            font-size: 2em;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 2em;
        }
    }

    p {
        color: white;
        margin-top: 0.5em;
        font-size: 0.6em;
        max-width: 50%;
        text-align: center;

        @media screen and (min-width: 1024px) {
            font-size: 1em;
            max-width: 80%;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 0.8em;
            max-width: 70%;
        }
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}
