@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200;300;500;700&family=Slabo+13px&display=swap");
// Media Queries Reference
@media (min-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}

:root {
    --theme-color: #fff;
    --font: "Poppins", sans-serif;
    --light-font: 300;
    --light-text: rgba(0, 0, 0, 0.61);
    --light-grey: #e1e1e1;
    --medium-grey: rgb(175, 175, 175);
    --dark-grey: rgb(37, 37, 37);
    --links: rgb(230, 130, 255);
    --light-theme-color: rgb(65, 116, 255);
    --theme-yellow: #eebb4e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
    &::selection {
        background: var(--theme-yellow);
        color: rgb(36, 36, 36);
    }
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.row-flex {
    display: flex;
}

.h__auto {
    height: auto;
}

.box {
    // padding: 10em;
    max-width: 80%;
}

.full {
    max-width: 100% !important;
}

.m__auto {
    margin: auto;
}

.width-100 {
    width: 100%;
}

.light-title {
    font-weight: 100;
    color: #eebb4e;
    margin: 1em 0;
    font-family: "Oswald";
}

h3 {
    color: white;
}

.modal-backdrop {
    background: rgba(0, 0, 0, 0.253);
}

.links {
    a {
        margin-right: 0.5em;
        text-decoration: none;
        font-size: 0.8em;
        color: var(--theme-yellow);
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
    span {
        margin-right: 0.5em;
        text-decoration: none;
        font-size: 0.8em;
        color: var(--theme-yellow);
        font-weight: bold;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.socials {
    background: var(--theme-yellow);

    a {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        text-decoration: none;
        outline: none;
        color: var(--dark-grey);
    }
}

body {
    background: var(--theme-color);
}

main {
    background: #0f1122;
}

#my__info {
    line-height: 1.6;
    height: 85vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.65)
        url("https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2062&q=80");
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    // background-attachment: fixed;
    object-fit: cover;
    h1 {
        font-weight: lighter;
        font-size: 4.5em;
        color: white;
        line-height: 1;
        font-family: "Anton";
        font-weight: 700;
        text-transform: uppercase;
        @media (max-width: 600px) {
            font-size: 3em;
        }
        @media (max-width: 801px) {
            font-size: 3em;
        }
    }

    p {
        color: rgba(255, 255, 255, 0.596);
        font-weight: 300;
        width: 35%;
        text-align: center;
        font-style: normal;
        font-family: "Slabo 13px";
        margin-top: 1em;
        @media (max-width: 600px) {
            width: 80%;
            font-size: 0.8em;
        }
        @media (max-width: 801px) {
            width: 70%;
            font-size: 0.8em;
        }
    }

    a {
        text-decoration: none;
        font-size: 0.8em;
        margin-top: 10px;
        &.cv {
            padding: 10px 15px;
            background-color: transparent;
            color: var(--theme-yellow);
            border: 1px solid var(--theme-yellow);
            font-weight: 300;
            transition: color 0.25s, background 0.25s, font-weight 0.25s;
            &:hover {
                color: black;
                font-weight: bold;
                background: var(--theme-yellow);
            }
        }
    }
}

#personal__projects {
    .projects {
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        @media (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr) !important;
        }
        @media (max-width: 801px) {
            grid-template-columns: repeat(1, 1fr) !important;
        }
        @media (max-width: 1025px) {
            // grid-template-columns: repeat(1, 1fr) !important;
        }
        @media (max-width: 1281px) {
            grid-template-columns: repeat(2, 1fr);
        }
        .project__item {
            flex: 1 0 25%;
            justify-content: flex-start;
            .project__image {
                height: 250px;
                width: 100%;
                background: #282d58;
                justify-content: center;
                align-items: center;
                @media (max-width: 600px) {
                    height: 170px !important;
                }
                @media (max-width: 801px) {
                    height: 250px;
                }
                @media (max-width: 1025px) {
                    height: 250px;
                }
                @media (max-width: 1281px) {
                }
                img {
                    height: 100%;
                    width: 100%;
                    background: #282d58;
                    background-position: center;
                    object-fit: cover;
                    background-size: cover;
                }
            }
            .project__description {
                width: 100%;
                height: auto;
                // background: var(--theme-color);
                justify-content: space-between;
                padding: 0.5em 0.5em 0.5em 0;
                p {
                    font-size: 0.8em;
                    color: rgba(255, 255, 255, 0.747);
                }
                ul {
                    flex-wrap: wrap;
                    list-style: none;
                    li {
                        margin: 5px 5px 5px 0;
                        padding: 5px 7px;
                        font-size: 0.7em;
                        background: var(--theme-yellow);
                        border-radius: 5px;
                        font-weight: bold;
                        color: #231c35;
                    }
                }
            }
        }
    }
}

#tech__stack {
    .tech__stack__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;

        @media (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr) !important;
        }
        @media (max-width: 801px) {
            grid-template-columns: repeat(1, 1fr) !important;
        }
        .tech__stack__item {
            flex: 1 0 25%;

            img {
                height: 150px;
                width: 100%;
                background-size: cover;
                background-position: top;
                object-fit: cover;
                background: #282d58;
            }
            ul {
                flex-wrap: wrap;
                list-style: none;
                li {
                    margin-left: 0px !important;
                    margin: 5px;
                    padding: 5px 10px;
                    font-size: 0.7em;
                    border: 1px solid var(--theme-yellow);
                    border-radius: 5px;
                    color: var(--theme-yellow);
                    font-weight: bold;
                }
            }
        }
    }
}

#hosted__events {
    .hosted__events__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;

        @media (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr) !important;
        }
        @media (max-width: 801px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 1025px) {
            grid-template-columns: repeat(2, 1fr);
        }

        .hosted__event__item {
            .hosted_event_image {
                height: 150px;
                width: 100%;
                background: #282d58;
                img {
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    object-fit: cover;
                }
            }

            h3 {
                padding: 5px 0;
            }
            p {
                font-size: 0.8em;
                color: rgba(255, 255, 255, 0.534);
            }
        }
    }
}

#project__info {
    height: 70vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    @media (max-width: 600px) {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    @media (max-width: 1025px) {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .web__demo {
        height: auto;
        width: 100%;
        grid-column: 1/2;
        margin: auto;
    }
    .project__demo {
        height: auto;
        width: 100%;
        grid-column: 1/2;
        background: #282d58;
        img {
            height: 100%;
            width: auto;
        }
        @media (max-width: 600px) {
            height: 100%;
            background: #282d58;
            grid-row: 1/2;
            grid-column: 1/2;
        }
        @media (max-width: 1025px) {
            width: 100%;
            background: #282d58;
            grid-row: 1/2;
            grid-column: 1/2;
        }
    }
    .project__info {
        height: 100%;
        width: 100%;
        grid-column: 2/3;
        padding: 2em;
        background: #181c3b;
        justify-content: space-between;
        @media (max-width: 600px) {
            grid-row: 2/3;
            grid-column: 1/2;
        }
        @media (max-width: 1025px) {
            grid-row: 2/3;
            grid-column: 1/2;
        }

        .info {
            p {
                color: rgba(255, 255, 255, 0.521);

                @media (max-width: 600px) {
                    font-size: 0.6em !important;
                }
                @media (max-width: 1025px) {
                    font-size: 0.8em;
                }
            }
            .btn-group {
                margin: 10px 0;
                a {
                    margin: 0 5px 0 0;
                    text-decoration: none;
                    padding: 5px 10px;
                    color: var(--theme-yellow);
                    background: transparent;
                    border: 1px solid var(--theme-yellow);
                    border-radius: 5px;
                    font-size: 0.8em;
                    transition: color 0.25s, border 0.25s;
                    &:hover {
                        border: 1px solid rgb(158, 224, 255);
                        color: rgb(158, 224, 255);
                    }
                }
            }
            ul {
                flex-wrap: wrap;
                list-style: none;
                padding: 0.5em 0;
                li {
                    margin: 5px 5px 5px 0;
                    padding: 5px 7px;
                    font-size: 0.7em;
                    background: var(--theme-yellow);
                    border-radius: 5px;
                    font-weight: bold;
                    color: #231c35;
                    @media (max-width: 600px) {
                        font-size: 0.6em !important;
                    }
                }
            }
        }

        .buttons {
            justify-content: space-between;
            img {
                align-self: flex-end;
                height: 50px;
                cursor: pointer;
                @media (max-width: 600px) {
                    height: 25px;
                }
                @media (max-width: 1025px) {
                    height: 25px;
                }
            }

            .control {
                img {
                    margin: 0 5px;
                }
            }
        }
    }
}

#joined__organizations {
    padding-bottom: 1em;
    .organizations__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;

        @media (max-width: 801px) {
            grid-template-columns: repeat(1, 1fr) !important;
        }
        .organization__item {
            flex: 1 0 25%;
            .organization__image {
                height: 200px;
                width: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    background-size: cover;
                }
            }

            span {
                color: #e1e1e1;
                font-size: 0.8em;
            }
        }
    }
}

#contact__me {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-top: 2em;
    .contact__bg {
        background: url("https://images.unsplash.com/34/BA1yLjNnQCI1yisIZGEi_2013-07-16_1922_IMG_9873.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80");
        background-size: cover;
        background-position: bottom;
        grid-column: 1/2;
        object-fit: cover;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        h1 {
            font-family: "Anton";
            color: rgba(255, 255, 255, 0.493);
            font-size: 4em;
        }
    }

    .contact__form {
        grid-column: 2/3;
        background: #2b1c1b;
    }
}

.bottom {
    position: relative;
    bottom: 0;
}

footer {
    height: 10vh;
    background: #282541;
    color: rgba(255, 255, 255, 0.527);
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 100%;
}

// FLICKITY
.is-fullscreen {
    bottom: 0;
}

.carousel-cell-image {
    transition: opacity 0.2s;
    opacity: 0;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
    opacity: 1;
}
