@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.menu_items_mobile {
    position: fixed;
    background: white;
    display: flex;
    flex-direction: column;
    opacity: 0.95;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #111111;
    z-index: 999;

    &.open {
        transition: 0.25s ease-in;
        transform: translateY(0%);
    }

    &.closed {
        transition: 0.25s ease-out;
        transform: translateY(-100%);
    }

    a {
        text-decoration: none;
        color: white;
        padding: 1em 0;

        transition: font-size 0.25s;
        text-transform: uppercase;

        &.active {
            font-weight: 900;
            font-size: 2em;
        }
    }

    @media screen and (min-width: 1024px) {
        display: none;
    }
}

nav {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background: #282828;
    position: fixed;
    z-index: 999;

    img {
        width: 35px;
        height: 35px;

        @media screen and (min-width: 1024px) {
            width: 50px;
            height: 50px;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 50px;
            height: 50px;
        }
    }

    i {
        cursor: pointer;
    }

    h1 {
        color: white;
        font-size: 0.8em;

        @media screen and (min-width: 1024px) {
            display: none;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            display: none;
        }
    }

    .menu_items {
        display: none;

        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: space-evenly;

            a {
                color: white;
                text-decoration: none;
                padding: 0 1em;

                &.active {
                    font-weight: bold;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    i {
        color: white;
        font-size: 1rem;

        @media screen and (min-width: 1024px) {
            display: none;
            font-size: 0em;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 1.5em;
        }
    }
}

.about_me {
    padding-top: 1em;
    width: 100%;
    background: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5em;

    @media screen and (min-width: 1024px) {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;

        padding-top: 0em;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding-top: 5em;
    }

    .photo_side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        @media screen and (min-width: 1024px) {
            grid-column: 2/2;
        }

        .photo {
            height: 150px;
            width: 150px;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-box-shadow: 5px 5px 0px 0px #7a7a7a;
            -moz-box-shadow: 5px 5px 0px 0px #7a7a7a;
            box-shadow: 5px 5px 0px 0px #7a7a7a;

            @media screen and (min-width: 1024px) {
                height: 350px;
                width: 350px;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                height: 250px;
                width: 250px;
            }

            h1 {
                font-weight: 800;
                text-align: center;
                font-size: 15px;
                user-select: none;

                @media screen and (min-width: 1024px) {
                    font-size: 1.5em;
                }
            }
        }

        .pages {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em 0;

            .circle {
                height: 0.5em;
                width: 0.5em;
                border: 2px solid white;
                border-radius: 50%;
                margin: 0.1em;
                cursor: pointer;

                @media screen and (min-width: 1024px) {
                    height: 1em;
                    width: 1em;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    height: 1em;
                    width: 1em;
                }

                &.active {
                    background: white;
                }
            }
        }

        .quote {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2em 0;

            p {
                font-style: italic;
                font-weight: 400;
                text-align: center;
                color: white;
                font-size: 8px;
                max-width: 100%;

                @media screen and (min-width: 1024px) {
                    font-size: 1em;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 0.8em;
                }

                span {
                    color: #fff1cc;
                }
            }
        }
    }

    .main_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        @media screen and (min-width: 1024px) {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-content: center;
        }

        .my_info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media screen and (min-width: 1024px) {
                align-items: flex-start;
                justify-content: start;
                padding-left: 3em;
            }

            h1 {
                font-weight: 800;
                text-align: center;
                color: white;
                padding-bottom: 10px;
                user-select: none;

                @media screen and (min-width: 1024px) {
                    text-align: left;
                    font-size: 4em;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 2.5em;
                }
            }

            p {
                line-height: 1.6;
            }

            button {
                padding: 1em 2em;
                font-weight: bold;
                margin: 2em 0;
                background: #282828;
                color: white;
                border: none;
                cursor: pointer;
                -webkit-box-shadow: 2px 2px 0px 0px #7a7a7a;
                -moz-box-shadow: 2px 2px 0px 0px #7a7a7a;
                box-shadow: 2px 2px 0px 0px #7a7a7a;
                transition: background 0.25s;

                &:hover {
                    transition: background 0.25s;
                    background: white;
                    color: black;
                    -webkit-box-shadow: 2px 2px 0px 0px #7a7a7a;
                    -moz-box-shadow: 2px 2px 0px 0px #7a7a7a;
                    box-shadow: 2px 2px 0px 0px #7a7a7a;
                }
            }

            p {
                color: #cdcdcd;
                font-size: 10px;
                max-width: 80%;
                text-align: center;
                user-select: none;

                @media screen and (min-width: 1024px) {
                    text-align: left;
                    font-size: 1em;
                    max-width: 100%;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 0.9em;
                    max-width: 80%;
                }

                #csb {
                    color: #c1ffc4;
                    font-weight: bold;
                }

                #flutter {
                    color: #73ddff;
                    font-weight: bold;
                }

                #aim {
                    color: #fff7b1;
                    font-weight: bold;
                }

                #dsc {
                    color: #92ebff;
                    font-weight: bold;
                }
            }
        }

        .orgs {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2em 0;

            @media screen and (min-width: 1024px) {
                display: none;
            }

            img {
                height: 50%;
                width: 50%;

                @media screen and (min-width: 1024px) {
                    display: none;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    height: 25%;
                    width: 25%;
                }
            }
        }

        .socials {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 80%;
            max-width: 90%;
            padding: 2em 0;

            @media screen and (min-width: 1024px) {
                align-items: flex-start;
                justify-content: start;
                width: 100%;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                align-items: center;
                justify-content: space-evenly;
                width: 70%;
            }

            .circle {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: white;
                -webkit-box-shadow: 2px 2px 0px 0px #7a7a7a;
                -moz-box-shadow: 2px 2px 0px 0px #7a7a7a;
                box-shadow: 2px 2px 0px 0px #7a7a7a;
                display: flex;
                text-decoration: none;
                align-items: center;
                justify-content: center;

                @media screen and (min-width: 1024px) {
                    margin-right: 1em;
                }

                i {
                    color: black;
                    font-size: 0.8em;

                    @media screen and (min-width: 1024px) {
                        font-size: 1em;
                    }

                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }

    .scroll_down {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em 0;

        @media screen and (min-width: 1024px) {
            display: none;
        }

        p {
            color: #7a7a7a;
            font-weight: bold;
            font-size: 0.7em;
            padding-bottom: 10px;
        }

        i {
            font-size: 0.8em;
            color: #7a7a7a;
        }
    }
}

.hobbies {
    width: 100%;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1024px) {
        padding: 5em 0;
        background: #1d1d1d;
    }

    .hobbies_title {
        padding: 4em 0;

        @media screen and (min-width: 1024px) {
            grid-column: 1/2;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1 {
            text-align: center;
            color: white;

            @media screen and (min-width: 1024px) {
                font-size: 2em;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 1.5em;
            }
        }
    }

    .hobbies_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        padding: 1em 0;

        @media screen and (min-width: 1024px) {
            grid-column: 2/2;
            grid-row: 1/2;
            max-width: 60%;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            max-width: 80%;
        }

        .hobby_box {
            background: #292929;
            display: flex;
            flex-direction: column;
            border-radius: 2px;
            align-items: center;
            justify-content: center;
            padding: 3em;
            margin: 5px;
            height: 50px;
            width: 50px;
            -webkit-box-shadow: 0px 2.5px 0px 0px #7a7a7a;
            -moz-box-shadow: 0px 2.5px 0px 0px #7a7a7a;
            box-shadow: 0px 2.5px 0px 0px #7a7a7a;
            transition: 0.25s;

            @media screen and (min-width: 1024px) {
                height: 200px;
                width: 200px;

                &:hover {
                    -webkit-box-shadow: 0px 5px 0px 0px #cbffa9;
                    -moz-box-shadow: 0px 5px 0px 0px #cbffa9;
                    box-shadow: 0px 5px 0px 0px #cbffa9;
                }
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                height: 200px;
                width: 200px;

                &:hover {
                    -webkit-box-shadow: 0px 3px 0px 0px #cbffa9;
                    -moz-box-shadow: 0px 3px 0px 0px #cbffa9;
                    box-shadow: 0px 3px 0px 0px #cbffa9;
                }
            }

            i {
                color: white;
                padding-bottom: 5px;
                font-size: 1.4em;

                @media screen and (min-width: 1024px) {
                    font-size: 3em;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 3em;
                }
            }

            p {
                font-weight: bold;
                color: white;
                font-size: 0.7em;
                padding-top: 0.4em;

                @media screen and (min-width: 1024px) {
                    font-size: 1.2em;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 1.1em;
                }
            }
        }
    }
}

.projects {
    background: #111111;

    @media screen and (min-width: 1024px) {
        width: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
    }

    .projects_title {
        padding: 2em 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 1024px) {
            padding: 5em 0;
        }

        h1 {
            text-align: center;
            color: white;
            font-size: 1em;
            max-width: 50%;

            @media screen and (min-width: 1024px) {
                font-size: 1.7em;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 1.5em;
                padding: 2em 0;
            }
        }
    }

    .projects_list {
        height: 70vh;
        background: #111111;
        width: 100%;

        @media screen and (min-width: 1024px) {
            margin: auto;
            width: 100%;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            margin: auto;
            width: 100%;
        }

        .project_item {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            @media screen and (min-width: 1024px) {
                width: 30%;
                margin: 0 1em;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                width: 60%;
                margin: 0 1em;
            }

            .tech_used {
                padding: 1em 0;

                img {
                    height: 50px;
                    width: auto;

                    @media screen and (min-width: 1024px) {
                        height: 70px;
                    }

                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                        height: 50px;
                    }
                }
            }

            img {
                height: 50%;
                width: auto;

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    height: 60%;
                }
            }

            .project_card {
                background: #383838;
                padding: 1em;
                width: 100%;

                @media screen and (min-width: 1024px) {
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                }

                h1 {
                    font-size: 1em;
                    color: white;
                    font-weight: bold;
                    padding-bottom: 5px;

                    @media screen and (min-width: 1024px) {
                        font-size: 1.5em;
                    }

                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                        font-size: 1.3em;
                    }
                }

                p {
                    font-size: 0.6em;
                    color: white;
                    padding-bottom: 1em;

                    @media screen and (min-width: 1024px) {
                        font-size: 0.8em;
                    }

                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                        font-size: 0.7em;
                    }
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    font-size: 0.8em;
                    width: 100%;
                    font-weight: bold;
                    padding: 0.5em 0;
                    text-align: center;
                    color: black;
                }
            }

            &.whatscookn {
                background: #ffd98d;

                a {
                    color: #ffd98d;
                }
            }

            &.bayanihanph {
                background: #bfa1ff;

                a {
                    color: #bfa1ff;
                }
            }

            &.covidtracker {
                background: #c3daff;

                a {
                    color: #c3daff;
                }
            }

            &.needl {
                background: #c9d1ff;

                a {
                    color: #c9d1ff;
                }
            }

            &.uichallenge {
                background: #83d8ff;

                a {
                    color: #83d8ff;
                }
            }
        }
    }
}

.organizations {
    background: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        text-align: center;
        color: white;
        font-size: 1em;
        max-width: 50%;
        padding: 2em 0;

        @media screen and (min-width: 1024px) {
            font-size: 1.7em;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 1.5em;
            padding: 2em 0;
        }
    }

    img {
        padding: 1em;
        height: 150px;
        width: auto;

        @media screen and (min-width: 1024px) {
            height: 150px;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            height: 200px;
        }
    }
}

.showcase {
    background: #111111;
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;

    @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
    }

    .showcase_left_grid {
        grid-row: 2/2;
        height: 50vh;
        width: 100%;
        padding: 1em 0;

        &.covidtracker {
            background: #6e89ff;
        }

        &.bayanihanph {
            background: #e5b8ff;
        }

        &.whatscookn {
            background: #fff7b1;
        }

        .flickity-page-dots {
            position: relative;
            bottom: 1em;

            .dot {
                color: black;
            }
        }

        @media screen and (min-width: 1024px) {
            grid-column: 1/2;
            grid-row: 1/2;
            height: 100vh;
        }

        img {
            height: 100%;
            width: auto;

            [src] {
                height: 50%;
            }

            @media screen and (min-width: 1024px) {
                height: 100%;
                width: auto;
            }
        }
    }

    .showcase_right_grid {
        padding: 2em;
        height: auto;

        grid-row: 1/2;
        max-width: 95%;
        margin: auto;

        @media screen and (min-width: 1024px) {
            grid-column: 2/2;
            grid-row: 1/2;
            height: 100vh;
        }

        .showcase_title {
            font-weight: bold;
            color: white;
            font-size: 2em;
            padding-bottom: 0.5em;
            display: flex;
            align-items: center;
            justify-content: start;

            h1 {
                font-size: 0.7em;
                padding-left: 0.5em;
                font-weight: bold;
            }

            a {
                text-decoration: none;
                font-size: 0.7em;
                cursor: pointer;

                &.covidtracker {
                    color: #6e89ff;
                }

                &.bayanihanph {
                    color: #e5b8ff;
                }

                &.whatscookn {
                    color: #fff7b1;
                }
            }

            @media screen and (min-width: 1024px) {
                font-size: 2.5em;
            }
        }

        .showcase_details {
            color: white;
            font-size: 0.7em;

            p {
                padding-bottom: 1em;
                line-height: 1.6;
            }

            .links {
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 3em;
                }
            }

            span {
                font-weight: bold;

                &.covidtracker {
                    color: #a1b2ff;
                }

                &.bayanihanph {
                    color: #e5b8ff;
                }

                &.whatscookn {
                    color: #fff7b1;
                }

                &.flutter {
                    color: #92ebff;
                }

                &.firebase {
                    color: #ffd98d;
                }

                &.nodejs {
                    color: #c1ffc4;
                }

                &.expressjs {
                    color: #ffd99b;
                }

                &.heroku {
                    color: #d29bff;
                }
            }

            @media screen and (min-width: 1024px) {
                font-size: 1em;
            }
        }
    }
}

footer {
    padding: 2em 0;
    background: #282828;

    p {
        text-align: center;
        font-size: 0.7em;
        font-weight: bold;
        color: white;
    }
}

.fa_icon {
    font-size: 1.5em;

    @media screen and (min-width: 1024px) {
        font-size: 3em;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 3em;
    }
}

// optional

.project_body {
    height: auto;
    background: #111111;

    h1 {
        color: white;
        text-align: center;
        padding: 3em 0;

        @media screen and (min-width: 1024px) {
            font-size: 2em;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 2em;
        }
    }

    .list_projects {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        margin: auto;
        padding: 3em 0;

        @media screen and (min-width: 1024px) {
            max-width: 60%;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            max-width: 90%;
        }

        .project_object {
            margin: 0.5em;

            .project_image {
                height: 150px;
                width: 150px;
                margin-bottom: 0.5em;
                display: flex;
                justify-content: center;
                transition: 0.25s;

                @media screen and (min-width: 1024px) {
                    height: 300px;
                    width: 300px;

                    &:hover {
                        transition: 0.25s;
                        padding-top: 1em;
                    }
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    height: 250px;
                    width: 250px;

                    &:hover {
                        transition: 0.25s;
                        padding-top: 2em;
                    }
                }

                img {
                    padding-top: 2em;
                    height: 100%;
                }

                &.whatscookn {
                    background: #f3edb9;
                }

                &.bayanihanph {
                    background: #bfa1ff;
                }

                &.covidtracker {
                    background: #a1b2ff;
                }

                &.needl {
                    background: #ff9797;
                }

                &.traveldesign {
                    background: #92ebff;
                }
            }

            .project_label {
                font-weight: 400;
                color: white;
                text-align: center;
                font-size: 0.7em;
                font-weight: bold;

                @media screen and (min-width: 1024px) {
                    font-size: 1em;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 1em;
                }
            }
        }
    }
}

.link {
    outline: none;
    text-decoration: none;
}
