@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

body {
  background: #282828;
}

.menu_items_mobile {
  position: fixed;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.95;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #111111;
  z-index: 999;
}

.menu_items_mobile.open {
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.menu_items_mobile.closed {
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.menu_items_mobile a {
  text-decoration: none;
  color: white;
  padding: 1em 0;
  -webkit-transition: font-size 0.25s;
  transition: font-size 0.25s;
  text-transform: uppercase;
}

.menu_items_mobile a.active {
  font-weight: 900;
  font-size: 2em;
}

@media screen and (min-width: 1024px) {
  .menu_items_mobile {
    display: none;
  }
}

nav {
  height: 8vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: #282828;
  position: fixed;
  z-index: 999;
}

nav img {
  width: 35px;
  height: 35px;
}

@media screen and (min-width: 1024px) {
  nav img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav img {
    width: 50px;
    height: 50px;
  }
}

nav i {
  cursor: pointer;
}

nav h1 {
  color: white;
  font-size: 0.8em;
}

@media screen and (min-width: 1024px) {
  nav h1 {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav h1 {
    display: none;
  }
}

nav .menu_items {
  display: none;
}

@media screen and (min-width: 1024px) {
  nav .menu_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  nav .menu_items a {
    color: white;
    text-decoration: none;
    padding: 0 1em;
  }
  nav .menu_items a.active {
    font-weight: bold;
  }
  nav .menu_items a:hover {
    cursor: pointer;
  }
}

nav i {
  color: white;
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  nav i {
    display: none;
    font-size: 0em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav i {
    font-size: 1.5em;
  }
}

.about_me {
  padding-top: 1em;
  width: 100%;
  background: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 5em;
}

@media screen and (min-width: 1024px) {
  .about_me {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-top: 0em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about_me {
    padding-top: 5em;
  }
}

.about_me img {
  position: relative;
  height: auto;
  width: 50%;
}

@media screen and (min-width: 1024px) {
  .about_me img {
    -ms-grid-column: 2;
    grid-column: 2/2;
    margin: auto;
    height: auto;
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about_me img {
    -ms-grid-column: 2;
    grid-column: 2/2;
    margin: auto;
    height: auto;
    width: 80%;
  }
}

.about_me .photo_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 1024px) {
  .about_me .photo_side {
    -ms-grid-column: 2;
    grid-column: 2/2;
  }
}

.about_me .photo_side .photo {
  height: 150px;
  width: 150px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 5px 5px 0px 0px #7a7a7a;
  box-shadow: 5px 5px 0px 0px #7a7a7a;
}

@media screen and (min-width: 1024px) {
  .about_me .photo_side .photo {
    height: 350px;
    width: 350px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about_me .photo_side .photo {
    height: 250px;
    width: 250px;
  }
}

.about_me .photo_side .photo h1 {
  font-weight: 800;
  text-align: center;
  font-size: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (min-width: 1024px) {
  .about_me .photo_side .photo h1 {
    font-size: 1.5em;
  }
}

.about_me .photo_side .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
}

.about_me .photo_side .pages .circle {
  height: 0.5em;
  width: 0.5em;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0.1em;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .about_me .photo_side .pages .circle {
    height: 1em;
    width: 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about_me .photo_side .pages .circle {
    height: 1em;
    width: 1em;
  }
}

.about_me .photo_side .pages .circle.active {
  background: white;
}

.about_me .photo_side .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0;
}

.about_me .photo_side .quote p {
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: white;
  font-size: 8px;
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .about_me .photo_side .quote p {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about_me .photo_side .quote p {
    font-size: 0.8em;
  }
}

.about_me .photo_side .quote p span {
  color: #fff1cc;
}

.about_me .main_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 1024px) {
  .about_me .main_info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about_me .main_info .my_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .about_me .main_info .my_info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 3em;
  }
}

.about_me .main_info .my_info h1 {
  font-weight: 800;
  text-align: center;
  color: white;
  padding-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (min-width: 1024px) {
  .about_me .main_info .my_info h1 {
    text-align: left;
    font-size: 4em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about_me .main_info .my_info h1 {
    font-size: 2.5em;
  }
}

.about_me .main_info .my_info p {
  line-height: 1.6;
}

.about_me .main_info .my_info button {
  padding: 1em 2em;
  font-weight: bold;
  margin: 2em 0;
  background: #282828;
  color: white;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 0px 0px #7a7a7a;
  box-shadow: 2px 2px 0px 0px #7a7a7a;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.about_me .main_info .my_info button:hover {
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
  background: white;
  color: black;
  -webkit-box-shadow: 2px 2px 0px 0px #7a7a7a;
  box-shadow: 2px 2px 0px 0px #7a7a7a;
}

.about_me .main_info .my_info p {
  color: #cdcdcd;
  font-size: 10px;
  max-width: 80%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (min-width: 1024px) {
  .about_me .main_info .my_info p {
    text-align: left;
    font-size: 1em;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about_me .main_info .my_info p {
    font-size: 0.9em;
    max-width: 80%;
  }
}

.about_me .main_info .my_info p #csb {
  color: #c1ffc4;
  font-weight: bold;
}

.about_me .main_info .my_info p #flutter {
  color: #73ddff;
  font-weight: bold;
}

.about_me .main_info .my_info p #aim {
  color: #fff7b1;
  font-weight: bold;
}

.about_me .main_info .my_info p #dsc {
  color: #92ebff;
  font-weight: bold;
}

.about_me .main_info .orgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0;
}

@media screen and (min-width: 1024px) {
  .about_me .main_info .orgs {
    display: none;
  }
}

.about_me .main_info .orgs img {
  height: 50%;
  width: 50%;
}

@media screen and (min-width: 1024px) {
  .about_me .main_info .orgs img {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about_me .main_info .orgs img {
    height: 25%;
    width: 25%;
  }
}

.about_me .main_info .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  max-width: 90%;
  padding: 2em 0;
}

@media screen and (min-width: 1024px) {
  .about_me .main_info .socials {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about_me .main_info .socials {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 70%;
  }
}

.about_me .main_info .socials .circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 2px 2px 0px 0px #7a7a7a;
  box-shadow: 2px 2px 0px 0px #7a7a7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .about_me .main_info .socials .circle {
    margin-right: 1em;
    height: 50px;
    width: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about_me .main_info .socials .circle {
    margin-right: 1em;
    height: 60px;
    width: 60px;
  }
}

.about_me .main_info .socials .circle i {
  color: black;
  font-size: 0.6em;
}

@media screen and (min-width: 1024px) {
  .about_me .main_info .socials .circle i {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about_me .main_info .socials .circle i {
    font-size: 0.9em;
  }
}

.about_me .scroll_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
}

@media screen and (min-width: 1024px) {
  .about_me .scroll_down {
    display: none;
  }
}

.about_me .scroll_down p {
  color: #7a7a7a;
  font-weight: bold;
  font-size: 0.7em;
  padding-bottom: 10px;
}

.about_me .scroll_down i {
  font-size: 0.8em;
  color: #7a7a7a;
}

.techstack {
  width: 100%;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0;
}

@media screen and (min-width: 1024px) {
  .techstack {
    padding: 5em 0;
  }
}

.techstack .techstack_title {
  padding: 4em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .techstack .techstack_title {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.techstack .techstack_title h1 {
  text-align: center;
  color: white;
}

@media screen and (min-width: 1024px) {
  .techstack .techstack_title h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .techstack .techstack_title h1 {
    font-size: 1.5em;
  }
}

.techstack .techstack_title p {
  color: white;
  margin-top: 0.5em;
  font-size: 0.6em;
  max-width: 50%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .techstack .techstack_title p {
    font-size: 1em;
    max-width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .techstack .techstack_title p {
    font-size: 0.8em;
    max-width: 70%;
  }
}

.techstack .techstack_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 90%;
  width: 100%;
  padding: 1em 0;
}

@media screen and (min-width: 1024px) {
  .techstack .techstack_list {
    -ms-grid-column: 2;
    grid-column: 2/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    max-width: 60%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .techstack .techstack_list {
    max-width: 80%;
  }
}

.techstack .techstack_list .techstack_box {
  background: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em;
  margin: 5px;
  height: 50px;
  width: 50px;
  -webkit-box-shadow: 0px 2.5px 0px 0px #7a7a7a;
  box-shadow: 0px 2.5px 0px 0px #7a7a7a;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .techstack .techstack_list .techstack_box {
    height: 150px;
    width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .techstack .techstack_list .techstack_box {
    height: 170px;
    width: 170px;
  }
  .techstack .techstack_list .techstack_box:hover.orange {
    -webkit-box-shadow: 0px 5px 0px 0px #ffd3a9;
    box-shadow: 0px 5px 0px 0px #ffd3a9;
  }
  .techstack .techstack_list .techstack_box:hover.red {
    -webkit-box-shadow: 0px 5px 0px 0px #ffa9a9;
    box-shadow: 0px 5px 0px 0px #ffa9a9;
  }
  .techstack .techstack_list .techstack_box:hover.green {
    -webkit-box-shadow: 0px 5px 0px 0px #cbffa9;
    box-shadow: 0px 5px 0px 0px #cbffa9;
  }
  .techstack .techstack_list .techstack_box:hover.blue {
    -webkit-box-shadow: 0px 5px 0px 0px #a9e4ff;
    box-shadow: 0px 5px 0px 0px #a9e4ff;
  }
  .techstack .techstack_list .techstack_box:hover.white {
    -webkit-box-shadow: 0px 5px 0px 0px #ffffff;
    box-shadow: 0px 5px 0px 0px #ffffff;
  }
  .techstack .techstack_list .techstack_box:hover.purple {
    -webkit-box-shadow: 0px 5px 0px 0px #eba9ff;
    box-shadow: 0px 5px 0px 0px #eba9ff;
  }
}

.techstack .techstack_list .techstack_box i {
  color: white;
  padding-bottom: 5px;
  font-size: 1.4em;
}

@media screen and (min-width: 1024px) {
  .techstack .techstack_list .techstack_box i {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .techstack .techstack_list .techstack_box i {
    font-size: 1.5em;
  }
}

.techstack .techstack_list .techstack_box img {
  height: 25px;
}

@media screen and (min-width: 1024px) {
  .techstack .techstack_list .techstack_box img {
    height: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .techstack .techstack_list .techstack_box img {
    height: 50px;
  }
}

.techstack .techstack_list .techstack_box p {
  font-weight: bold;
  color: white;
  font-size: 0.7em;
  padding-top: 0.4em;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .techstack .techstack_list .techstack_box p {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .techstack .techstack_list .techstack_box p {
    font-size: 0.8em;
  }
}

.projects {
  background: #111111;
}

@media screen and (min-width: 1024px) {
  .projects {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .projects {
    width: 100%;
  }
}

.projects .projects_title {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .projects .projects_title {
    padding: 5em 0;
  }
}

.projects .projects_title h1 {
  text-align: center;
  color: white;
  font-size: 1em;
  max-width: 50%;
}

@media screen and (min-width: 1024px) {
  .projects .projects_title h1 {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .projects .projects_title h1 {
    font-size: 1.5em;
    padding: 2em 0;
  }
}

.projects .projects_list {
  height: 70vh;
  background: #111111;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .projects .projects_list {
    margin: auto;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .projects .projects_list {
    margin: auto;
    width: 100%;
  }
}

.projects .projects_list .project_item {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 1024px) {
  .projects .projects_list .project_item {
    width: 30%;
    margin: 0 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .projects .projects_list .project_item {
    width: 60%;
    margin: 0 1em;
  }
}

.projects .projects_list .project_item .tech_used {
  padding: 1em 0;
}

.projects .projects_list .project_item .tech_used img {
  height: 50px;
  width: auto;
}

@media screen and (min-width: 1024px) {
  .projects .projects_list .project_item .tech_used img {
    height: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .projects .projects_list .project_item .tech_used img {
    height: 50px;
  }
}

.projects .projects_list .project_item img {
  height: 50%;
  width: auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .projects .projects_list .project_item img {
    height: 60%;
  }
}

.projects .projects_list .project_item .project_card {
  background: #383838;
  padding: 1em;
  width: 100%;
}

.projects .projects_list .project_item .project_card h1 {
  font-size: 1em;
  color: white;
  font-weight: bold;
  padding-bottom: 5px;
}

@media screen and (min-width: 1024px) {
  .projects .projects_list .project_item .project_card h1 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .projects .projects_list .project_item .project_card h1 {
    font-size: 1.3em;
  }
}

.projects .projects_list .project_item .project_card p {
  font-size: 0.6em;
  color: white;
  padding-bottom: 1em;
}

@media screen and (min-width: 1024px) {
  .projects .projects_list .project_item .project_card p {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .projects .projects_list .project_item .project_card p {
    font-size: 0.7em;
  }
}

.projects .projects_list .project_item .project_card a {
  display: inline-block;
  text-decoration: none;
  font-size: 0.8em;
  width: 100%;
  font-weight: bold;
  padding: 0.5em 0;
  text-align: center;
  color: black;
}

.projects .projects_list .project_item.whatscookn {
  background: #ffd98d;
}

.projects .projects_list .project_item.whatscookn a {
  color: #ffd98d;
}

.projects .projects_list .project_item.bayanihanph {
  background: #bfa1ff;
}

.projects .projects_list .project_item.bayanihanph a {
  color: #bfa1ff;
}

.projects .projects_list .project_item.covidtracker {
  background: #c3daff;
}

.projects .projects_list .project_item.covidtracker a {
  color: #c3daff;
}

.projects .projects_list .project_item.needl {
  background: #c9d1ff;
}

.projects .projects_list .project_item.needl a {
  color: #c9d1ff;
}

.projects .projects_list .project_item.uichallenge {
  background: #83d8ff;
}

.projects .projects_list .project_item.uichallenge a {
  color: #83d8ff;
}

.organizations {
  background: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.organizations h1 {
  text-align: center;
  color: white;
  font-size: 1em;
  max-width: 50%;
  padding: 2em 0;
}

@media screen and (min-width: 1024px) {
  .organizations h1 {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .organizations h1 {
    font-size: 1.5em;
    padding: 2em 0;
  }
}

.organizations img {
  padding: 1em;
  height: 150px;
  width: auto;
}

@media screen and (min-width: 1024px) {
  .organizations img {
    height: 150px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .organizations img {
    height: 200px;
  }
}

.showcase {
  background: #111111;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media screen and (min-width: 1024px) {
  .showcase {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: none;
        grid-template-rows: none;
  }
}

.showcase .showcase_left_grid {
  -ms-grid-row: 2;
  grid-row: 2/2;
  height: 50vh;
  width: 100%;
  padding: 1em 0;
}

.showcase .showcase_left_grid.demo {
  padding: 0;
  overflow-y: hidden;
}

.showcase .showcase_left_grid.covidtracker {
  background: #6e89ff;
}

.showcase .showcase_left_grid.bayanihanph {
  background: #e5b8ff;
}

.showcase .showcase_left_grid.whatscookn {
  background: #fff7b1;
}

.showcase .showcase_left_grid .flickity-page-dots {
  position: relative;
  bottom: 1em;
}

.showcase .showcase_left_grid .flickity-page-dots .dot {
  color: black;
}

@media screen and (min-width: 1024px) {
  .showcase .showcase_left_grid {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 100vh;
  }
}

.showcase .showcase_left_grid img {
  height: 100%;
  width: auto;
}

.showcase .showcase_left_grid img [src] {
  height: 50%;
}

@media screen and (min-width: 1024px) {
  .showcase .showcase_left_grid img {
    height: 100%;
    width: auto;
  }
}

.showcase .showcase_right_grid {
  padding: 2em;
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  max-width: 95%;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .showcase .showcase_right_grid {
    -ms-grid-column: 2;
    grid-column: 2/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 100vh;
    overflow-y: scroll;
  }
}

.showcase .showcase_right_grid .showcase_title {
  font-weight: bold;
  color: white;
  font-size: 2em;
  padding-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.showcase .showcase_right_grid .showcase_title h1 {
  font-size: 0.7em;
  padding-left: 0.5em;
  font-weight: bold;
}

.showcase .showcase_right_grid .showcase_title a {
  text-decoration: none;
  font-size: 0.7em;
  cursor: pointer;
}

.showcase .showcase_right_grid .showcase_title a.covidtracker {
  color: #6e89ff;
}

.showcase .showcase_right_grid .showcase_title a.bayanihanph {
  color: #e5b8ff;
}

.showcase .showcase_right_grid .showcase_title a.whatscookn {
  color: #fff7b1;
}

@media screen and (min-width: 1024px) {
  .showcase .showcase_right_grid .showcase_title {
    font-size: 2.5em;
  }
}

.showcase .showcase_right_grid .showcase_details {
  color: white;
  font-size: 0.7em;
}

@media screen and (min-width: 1024px) {
  .showcase .showcase_right_grid .showcase_details {
    font-size: 1em;
  }
}

.showcase .showcase_right_grid .showcase_details p {
  padding-bottom: 1em;
  line-height: 1.6;
}

.showcase .showcase_right_grid .showcase_details .links a {
  text-decoration: none;
  color: white;
  font-size: 3em;
}

.showcase .showcase_right_grid .showcase_details span {
  font-weight: bold;
}

.showcase .showcase_right_grid .showcase_details span.covidtracker {
  color: #a1b2ff;
}

.showcase .showcase_right_grid .showcase_details span.bayanihanph {
  color: #e5b8ff;
}

.showcase .showcase_right_grid .showcase_details span.whatscookn {
  color: #fff7b1;
}

.showcase .showcase_right_grid .showcase_details span.flutter {
  color: #92ebff;
}

.showcase .showcase_right_grid .showcase_details span.firebase {
  color: #ffd98d;
}

.showcase .showcase_right_grid .showcase_details span.nodejs {
  color: #c1ffc4;
}

.showcase .showcase_right_grid .showcase_details span.expressjs {
  color: #ffd99b;
}

.showcase .showcase_right_grid .showcase_details span.heroku {
  color: #d29bff;
}

.showcase .showcase_right_grid .showcase_details button {
  padding: 1em 1.5em;
  background: transparent;
  font-weight: bold;
  font-size: 0.8em;
  margin: 1em 0;
  cursor: pointer;
  outline: none;
}

.showcase .showcase_right_grid .showcase_details button.closed {
  background: transparent;
}

.showcase .showcase_right_grid .showcase_details button.open {
  color: black;
}

.showcase .showcase_right_grid .showcase_details button.bayanihanph {
  color: #e5b8ff;
  border: 1px solid #e5b8ff;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.showcase .showcase_right_grid .showcase_details button.bayanihanph:hover {
  background-color: #eba9ff;
  color: black;
}

.showcase .showcase_right_grid .showcase_details button.whatscookn {
  color: #fff7b1;
  border: 1px solid #fff7b1;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.showcase .showcase_right_grid .showcase_details button.whatscookn:hover {
  background-color: #fff7b1;
  color: black;
}

.showcase .showcase_right_grid .showcase_details button.covidtracker {
  color: #a1b2ff;
  border: 1px solid #a1b2ff;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.showcase .showcase_right_grid .showcase_details button.covidtracker:hover {
  background-color: #a1b2ff;
  color: black;
}

.project_body {
  height: auto;
  background: #111111;
}

@media screen and (min-width: 1024px) {
  .project_body {
    padding: 4em 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .project_body {
    padding: 2em 0;
  }
}

.project_body .head_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3em 0;
}

.project_body .head_project h1 {
  color: white;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .project_body .head_project h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .project_body .head_project h1 {
    font-size: 2em;
  }
}

.project_body .head_project a {
  color: white;
  margin-top: 1em;
  font-weight: 400;
  font-size: 0.8em;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.project_body .head_project a:hover {
  color: #afc8ff;
}

@media screen and (min-width: 1024px) {
  .project_body .head_project a {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .project_body .head_project a {
    font-size: 0.9em;
  }
}

.project_body .list_projects {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 3em 0;
}

@media screen and (min-width: 1024px) {
  .project_body .list_projects {
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .project_body .list_projects {
    max-width: 90%;
  }
}

.project_body .list_projects .project_object {
  margin: 0.5em;
}

.project_body .list_projects .project_object .project_image {
  height: 150px;
  width: 150px;
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media screen and (min-width: 1024px) {
  .project_body .list_projects .project_object .project_image {
    height: 300px;
    width: 300px;
  }
  .project_body .list_projects .project_object .project_image:hover {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    padding-top: 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .project_body .list_projects .project_object .project_image {
    height: 250px;
    width: 250px;
  }
  .project_body .list_projects .project_object .project_image:hover {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    padding-top: 2em;
  }
}

.project_body .list_projects .project_object .project_image img {
  height: 100%;
}

.project_body .list_projects .project_object .project_image.whatscookn {
  background: #f3edb9;
}

.project_body .list_projects .project_object .project_image.bayanihanph {
  background: #bfa1ff;
}

.project_body .list_projects .project_object .project_image.covidtracker {
  background: #a1b2ff;
}

.project_body .list_projects .project_object .project_image.needl {
  background: #ff9797;
}

.project_body .list_projects .project_object .project_image.traveldesign {
  background: #fba8ff;
}

.project_body .list_projects .project_object .project_image.furnituredesign {
  background: #888aff;
}

.project_body .list_projects .project_object .project_label {
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .project_body .list_projects .project_object .project_label {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .project_body .list_projects .project_object .project_label {
    font-size: 1em;
  }
}

.my_projects {
  background: #1d1d1d;
  color: white;
  height: 100vh;
}

.my_projects .back_btn {
  position: fixed;
  top: 1em;
  left: 1em;
}

.activities {
  height: auto;
  background: #111111;
  padding: 1em 0;
}

.activities .activities_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activities .activities_header h1 {
  color: white;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .activities .activities_header h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activities .activities_header h1 {
    font-size: 2em;
  }
}

.activities .activities_header p {
  color: white;
  margin-top: 0.5em;
  font-size: 0.6em;
  max-width: 50%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .activities .activities_header p {
    font-size: 1em;
    max-width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activities .activities_header p {
    font-size: 0.8em;
    max-width: 70%;
  }
}

.activities .activities_list {
  max-width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2em;
}

@media screen and (min-width: 1024px) {
  .activities .activities_list {
    max-width: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activities .activities_list {
    max-width: 95%;
  }
}

.activities .activities_list .activity {
  background: #292929;
  margin: 0.5em;
  height: 150px;
  width: 150px;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 2px 2px 0px 0px #cbffa9;
  box-shadow: 2px 2px 0px 0px #cbffa9;
}

@media screen and (min-width: 1024px) {
  .activities .activities_list .activity {
    height: 250px;
    width: 250px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activities .activities_list .activity {
    height: 250px;
    width: 250px;
  }
}

.activities .activities_list .activity h1 {
  font-size: 0.6em;
  color: white;
  padding: 1em 0;
}

@media screen and (min-width: 1024px) {
  .activities .activities_list .activity h1 {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activities .activities_list .activity h1 {
    font-size: 1.2em;
  }
}

.activities .activities_list .activity p {
  line-height: 1.6;
  color: white;
  font-size: 0.5em;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .activities .activities_list .activity p {
    font-size: 0.75em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activities .activities_list .activity p {
    font-size: 0.65em;
  }
}

.activities .activities_list .activity a {
  font-size: 0.4em;
  color: #cbffa9;
  text-decoration: none;
  outline: none;
  font-weight: bold;
  border: 1px solid #cbffa9;
  margin-top: 1em;
  padding: 0.1em 0.7em;
}

@media screen and (min-width: 1024px) {
  .activities .activities_list .activity a {
    font-size: 0.75em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activities .activities_list .activity a {
    font-size: 0.65em;
  }
}

footer {
  padding: 2em 0;
  background: #282828;
}

footer p {
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  color: white;
}

.fa_icon {
  font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
  .fa_icon {
    font-size: 3em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fa_icon {
    font-size: 3em;
  }
}

.link {
  outline: none;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */